# The port the Express server listens on in production/local Node.js environments
PORT=3000

# Optional variables used during the build phase to inject template scripts
TEMPLATE_BANNER_SCRIPT_URL=
TEMPLATE_REDIRECT_URL=
